In [22]:
print("4111001671")
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

4111001671
('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')